torch_geometric==2.5.2
transformers==4.38.0
rdkit==2023.09.5
sentencepiece==0.2.0
selfies==2.1.2
pandas==2.2.3
lightning_utilities==0.11.9
torchmetrics==1.5.2
numpy==1.26.4
absl-py==2.1.0
easydict==1.13
ratelimiter==1.2.0.post0
openai==1.64.0
uvicorn===0.32.1
fastapi===0.115.5
oss2==2.19.1
python-dotenv==1.0.1
protobuf==5.28.3
scanpy==1.10.3

# for mcp
pubchempy==1.0.4
biopython==1.84
langchain-core==0.3.75
langchain-tavily==0.2.0
langchain-openai==0.2.14
graphql-core==3.2.5
googlesearch-python==1.2.5
SimpleITK==2.4.0
nnunet==1.7.1
fair-esm==2.0.0
gget==0.28.6
fastapi-mcp==0.4.0
